
.cabecalho {
    display: flex;
    justify-content:space-between;
    background-color: black;
    padding: 2.7em 10em;
}

.cabecalho__logo {
    width: 220px;
}

.cabecalho__avatar {
    width: 50px;
}

.cabecalho__nome {
    color: rgb(34, 182, 34);
    font-size: 20px;
}

.cabecalho__itens{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}


@media (max-width: 950px) {
    .cabecalho {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .cabecalho__avatar {
        display: none;
    }
 }